################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment/.vs/Assignment
bin/ 
obj/ 
*.exe 
*.pdb 
*.cache 
*.dll 
